footer{
    color: black;
    background-color: #686CFA ;
}
header {
    background-color: #FF2B1A ;
    color: cornsilk;
}
.fondo1 {
    background-color: #FEFE58 ;

}
.fondo2 {
    background-color: #585BFE ;
}
.letra1 {
    color: black;
}